img {
    height: 300px;
    width: 700px;
    margin-left: 20px;
}
html {
    background: linear-gradient(to right, #041573, #6604d7cb);
    background-size: cover;
    background-position: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}
.Titol {
    text-align: center;
    font-size: 40px;
    margin-top: 20px;
}
